{% extends 'university/base.html' %}
{% block homeworks_active %}active{% endblock %}

{% block body %}
<div class="homeworks-container container-fluid">

    <!-- Домашние работы -->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ ctx_user.email }}</h3>
        </div>
        {% if ctx_homeworks %}
            {% for homework in ctx_homeworks %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'page_homework_detail' homework.id %}">
                            <img src="{{ homework.logo.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ homework.title }}</h2>
                            <h4>{{ homework.subject }}</h4>

                            <!-- Детали -->
                            <a href="{% url 'page_homework_detail' homework.id %}" class="btn btn-primary btn-sm" role="button">Детали</a>

                            <!-- Удаление -->
                            <form action="{% url 'page_homework_delete' homework.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="homework_id" value="{{ homework.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Проверенные -->
                            <a href="{% url 'page_homework_files_check' homework.id %}" class="btn btn-default btn-sm btn-checked" role="button">
                                <span class="glyphicon glyphicon-ok {% if homework.is_checked %}active{% endif %}"></span>
                            </a>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'page_homework_create' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Загрузить домашнюю работу
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

    <!-- При поиске (если есть результаты) -->
    {% if ctx_files %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Файлы</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for file in ctx_files %}
                                    <tr>
                                        <td>{{ file.title }}</td>
                                        <td>{{ file.homework.subject }}</td>
                                        <td>
                                            <a target="_blank" href="{{ file.audio_file.url }}">
                                                <button type="button" class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-play"></span>&nbsp; Проверить
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'page_homework_detail' file.homework.id %}">
                                                <img src="{{ file.homework.logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'page_homework_detail' file.homework.id %}">{{ file.homework.title }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'checked' file.id %}" class="btn-checked">
                                                <span class="glyphicon glyphicon-ok {% if file.is_checked %}active{% endif %}"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
